
/* Backgrounds */
body {
	background-image: url("../images/smegol.PNG");
	background-repeat: no-repeat;
	background-color: black;
}

.titlebar {
	margin-top: 35%;
	background-color: rgb(43, 41, 41);
    opacity: 0.7;
	overflow: hidden;
	height: 100px;
	
}

.titlebar-text {
	color: rgb(253, 252, 252);
	font-family: 'Lexend Deca', sans-serif;
	text-align: center;
	letter-spacing: 10px;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 1%;
	margin-top: 3%;
}

.jumbotron, jumbotron-fluid {
	width: 100%;
	margin-top: 1.5%;
	background: rgba (76, 175, 80, 0.1);
	border-radius: 0px 0px 0px 0px;
	border-left: 0%;
	border-right: 0%;
	padding-top: 0%;
}

.container {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

.container-fluid {
	padding-left: 0%;
	padding-right: 0%;
	border-radius: 0px 0px;
}


.jumbotron p {
	font-size: 17px;

}

#gameSection, #scoreSection {
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

/*FOR TESTING*/
/*#numberSection, #totalPoints {

	background-color: orange;
}*/

#buttonSection {
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 25px;
	opacity: 0.70;
}

/* Fonts */
h1 {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	color: rgb(24, 23, 23);
	
}

h2, h3 {
	font-family: 'Lexend Deca', sans-serif;
}

p {
	font-family: 'Lexend Deca', sans-serif;
}

.numberBox {
	font-size: 100px;
	margin: 0px;
}

/* images for buttons */
.icons {
	display: inline-block;
  	max-width: 100px;
  	max-height: 100px;
  	width: auto;
  	height: auto;
  	margin:10px;
}

@media screen and (max-width: 1600px) {
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.30;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}
	.jumbotron h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 38px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
	}

	.titlebar-text {
		color: rgb(253, 252, 252);
		font-family: 'Lexend Deca', sans-serif;
		text-align: center;
		letter-spacing: 10px;
		font-weight: normal;
		font-size: 20px;
		margin-bottom: 1%;
		margin-top: 3%;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 22px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
		
	}
	
	h2 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}

	h3 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}
	
	p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		font-weight: bolder;
		
	}

	li {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
	}
	.jumbotron p {
		font-size: 17px;
	
	}
	.numberBox {
		font-size: 50px;
		margin: 0px;
	}

	#gameSection {
		opacity: 0.70;
	}

	#scoreSection {
		opacity: 0.70;
	}

	#buttonSection {
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 25px;
		opacity: 0.70;
	}

	.icons {
		display: inline-block;
		  max-width: 100px;
		  max-height: 100px;
		  width: auto;
		  height: auto;
		  margin:10px;
	}

}

@media screen and (max-width: 1500px) {
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.30;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}
	.jumbotron h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 38px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 22px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
		
	}
	
	h2 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}

	h3 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}
	
	p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		font-weight: bolder;
		
	}

	li {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
	}
	.jumbotron p {
		font-size: 17px;
	
	}
	.numberBox {
		font-size: 50px;
		margin: 0px;
	}

	#gameSection {
		opacity: 0.70;
	}

	#scoreSection {
		opacity: 0.70;
	}

	#buttonSection {
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 25px;
		opacity: 0.70;
	}

	.icons {
		display: inline-block;
		  max-width: 100px;
		  max-height: 100px;
		  width: auto;
		  height: auto;
		  margin:10px;
	}

}

@media screen and (max-width: 1400px) {
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.30;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}
	.jumbotron h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 38px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 22px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
		
	}
	
	h2 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}

	h3 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}
	
	p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		font-weight: bolder;
		
	}

	li {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
	}
	.jumbotron p {
		font-size: 17px;
	
	}
	.numberBox {
		font-size: 50px;
		margin: 0px;
	}

	#gameSection {
		opacity: 0.70;
	}

	#scoreSection {
		opacity: 0.70;
	}

	#buttonSection {
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 25px;
		opacity: 0.70;
	}

	.icons {
		display: inline-block;
		  max-width: 100px;
		  max-height: 100px;
		  width: auto;
		  height: auto;
		  margin:10px;
	}

}


@media screen and (max-width: 1200px) {
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.30;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}
	.jumbotron h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 38px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 22px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
		
	}
	
	h2 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}

	h3 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}
	
	p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		font-weight: bolder;
		
	}

	li {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
	}
	.jumbotron p {
		font-size: 17px;
	
	}
	.numberBox {
		font-size: 50px;
		margin: 0px;
	}

	#gameSection {
		opacity: 0.70;
	}

	#scoreSection {
		opacity: 0.70;
	}

	#buttonSection {
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 25px;
		opacity: 0.70;
	}

	.icons {
		display: inline-block;
		  max-width: 100px;
		  max-height: 100px;
		  width: auto;
		  height: auto;
		  margin:10px;
	}

}



@media screen and (max-width: 980px) {
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.30;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}

	.jumbotron h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 38px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 22px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
		
	}
	
	h2 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}

	h3 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}
	
	p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		font-weight: bolder;
		
	}

	li {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
	}
	.jumbotron p {
		font-size: 17px;
	
	}
	.numberBox {
		font-size: 50px;
		margin: 0px;
	}

	#gameSection {
		opacity: 0.70;
	}

	#scoreSection {
		opacity: 0.70;
	}

	#buttonSection {
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 25px;
		opacity: 0.70;
	}

	.icons {
		display: inline-block;
		  max-width: 100px;
		  max-height: 100px;
		  width: auto;
		  height: auto;
		  margin:10px;
	}

}

@media screen and (max-width: 768px) {

	body {
		background-image: url("assets/images/smegol_small.png");
		background-repeat: no-repeat;
		background-color: black;
		background-size: 100% 100%;
	}
	
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.50;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 28px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
		
	}
	
	h2 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}

	h3 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}
	
	p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		font-weight: bolder;
		margin-left: 3%;
		margin-right: 3%;
		
	}

	li {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		margin-left: 3%;
		margin-right: 3%;
	}
	.jumbotron p {
		font-size: 17px;
	
	}
	.numberBox {
		font-size: 50px;
		margin: 0px;
	}

	#gameSection {
		opacity: 0.70;
	}

	#scoreSection {
		opacity: 0.70;
	}

	#buttonSection {
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 25px;
		opacity: 0.70;
	}

	.icons {
		display: inline-block;
		  max-width: 100px;
		  max-height: 100px;
		  width: auto;
		  height: auto;
		  margin:10px;
	}

}

@media screen and (max-width: 240px) {

	body {
		background-image: url("assets/images/smegol_small.png");
		background-repeat: no-repeat;
		background-color: black;
		background-size: 100% 100%;
	}
	
	.jumbotron {
		width: 100%;
		margin-top: 1.5%;
		opacity: 0.50;
		border-radius: 0, 0, 0, 0;
		border-left: 0%;
		border-right: 0%;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 28px;
		color: rgb(13, 13, 14);
		font-weight: bolder;
		
	}
	
	h2 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}

	h3 {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 20px;
		color: rgb(13, 13, 14);
		text-align: center;
	}
	
	p {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		font-weight: bolder;
		margin-left: 3%;
		margin-right: 3%;
		
	}

	li {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 17px;
		color: rgb(10, 10, 10);
		text-align: center;
		margin-left: 3%;
		margin-right: 3%;
	}
	.jumbotron p {
		font-size: 17px;
	
	}
	.numberBox {
		font-size: 50px;
		margin: 0px;
	}

	#gameSection {
		opacity: 0.70;
	}

	#scoreSection {
		opacity: 0.70;
	}

	#buttonSection {
		padding: 0px;
		padding-top: 50px;
		padding-bottom: 25px;
		opacity: 0.70;
	}

	.icons {
		display: inline-block;
		  max-width: 100px;
		  max-height: 100px;
		  width: auto;
		  height: auto;
		  margin:10px;
	}

}